body {
	background-color: #eaeaea;
	font-family: 'Bungee', cursive;
}
.greeting {
	margin: 0 auto; 
	width: 34%; 
	padding-top: 3%;
	padding-bottom: 3%;
	color: #879c97;
}

.container {
	margin-left: 13%;
    padding: 0px 27% 0px 20%;
	display: table;
}

.row{
	display: table-row;
}

.cell {
	width: 150px;
	height: 150px;
	border: solid 1px;
	display: table-cell;
	font-size: 100px;
	text-align: center;
}